<section class="cp-inner-banner" style="margin-bottom: 5px">
	<h1><%= @web_title %></h1>
</section>
<div class="row" style="text-align: center;">
	<%= raw @header_ads %>
</div>
<br>
<div class="row">
	<section class="cp-category cp-photo-box" style="margin-top: 40px">
	<% if @entriesArray.empty? %>
		<h2 style="text-align: center">---Empty---</h2>
	<% end %>
	<ul>
		<% @entriesArray.each do |entry| %>
			<li>
			<div class="cp-box"> 
				<a href="/pic/<%= "#{entry.link}" %>">
				<img data-original="<%= "#{entry.image}" %>" class="img-thumbnail lazy" alt="<%= "#{entry.title}" %>" title="<%= "#{entry.title}" %>">
				</a>
				<div class="cp-text-box">
				<strong class="title"><%= "#{entry.title}" %></strong>
				<div class="detail-row">
				<ul>
					<li><a href="/pic/<%= "#{entry.link}" %>"><i class="fa fa-download"></i><%= "#{entry.unduh}" %> Downloads</a></li>
				</ul>
				</div>
				</div>
			</div>
			</li>
		<% end %>
	</ul>
	</section>
</div>
<div class="row">
	<div class="col-md-offset-4 col-xl-offset-4 col-sm-offset-4 col-xs-offset-2">
		<ul class="pagination" style="position: center">
			<% sortPagi = @pagiArray.sort_by { |e| e.number } %>
			<% sortPagi.each do |entry| %>
				<% if entry.number == 1 %>
					<% link = @pagi_link %>
					<li class="<%= entry.type %>"><a href="/<%= link %>"><%= entry.number %></a></li>
					<li class="#"><a href="#" >...</a></li>
				<% elsif sortPagi.last == entry %>
					<% link = @pagi_link + "/#{entry.number}" %>
					<li class="#"><a href="#" >...</a></li>
					<li class="<%= entry.type %>"><a href="/<%= link %>"><%= entry.number %></a></li>
				<% else %>
					<% link = @pagi_link + "/#{entry.number}" %>
					<li class="<%= entry.type %>"><a href="/<%= link %>"><%= entry.number %></a></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
<div class="row" style="text-align: center">
	<%= raw @footer_ads %>
</div>
<br>
<div class="row">
	<div class="container">
		<div class="tag-cloud" style="text-align: center">
			<% @keywordArray.each do |key| %>
				<a href="/tag/<%= "#{key.title}" %>" class="<%= "#{key.type}" %>"><%= "#{key.title}" %></a>
			<% end %>
		</div>
	</div>
</div>
