<div class="row" style="text-align: center;">
	<%= raw @header_ads %>
</div>
<section class="cp-single-photo" style="margin-top: 60px">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<div class="frame"><img class="img-thumbnail" src="<%= @photo_file %>" alt="<%= @web_title %>" title="<%= @web_title %>"></div>
		</div>
		<div class="col-md-7">
			<div class="cp-text-box">
				<div class="row">
					<div class="col-md-8">
						<div class="left-col">
							<h2><a href="#"><%= @web_title %></a></h2>
							<div class="detail-row">
							<ul>
								<li><i class="fa fa-picture-o"> Original Resolution:</i> <a rel="nofollow" href="https://wallpaperscraft.com/image/<%= @link_down + "_" + @ori_resolusi + ".jpg" %>" download="<%= @link_down + "_" + @ori_resolusi + ".jpg" %>"><%= @ori_resolusi %></a></li>
								<li><a href="#"><i class="fa fa-download"></i><%= @download_info %> Downloads</a></li>
							</ul>
							<div class="tag-cloud" style="text-align: center">
								<% @photo_tagArray.each do |key| %>
									<a href="/tag/<%= "#{key.title}" %>" class="<%= "#{key.type}" %>"><%= "#{key.title}" %></a>
								<% end %>
							</div>
							</div>
							<div class="tag-cloud" style="text-align: center">
								<h3><span class="fa fa-download"> Download Here:</span></h3>
								<% @photo_resolusiArray.each do |reso| %>
									<a rel="nofollow" href="https://wallpaperscraft.com/image/<%= @link_down + "_" + reso + ".jpg" %>" download="<%= @link_down + "_" + reso + ".jpg" %>"><%= reso %></a>
								<% end %>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="container" style="text-align: center">
								<h3>Similar Wallpaper :</h3>
								<% @similar_photoArray.each do |simi| %>
								<div class="col-md-12"><a href="/pic/<%= simi.link %>"><img class="img-thumbnail" src="<%= simi.image %>" alt="<%= simi.title %>" title="<%= simi.title %>"></a></div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" style="text-align: center;">
	<%= raw @footer_ads %>
</div>
<br>
<div class="row">
	<div class="container">
		<div class="tag-cloud" style="text-align: center">
			<% @keywordArray.each do |key| %>
				<a href="/tag/<%= "#{key.title}" %>" class="<%= "#{key.type}" %>"><%= "#{key.title}" %></a>
			<% end %>
		</div>
	</div>
</div>
</section>