
<div id="cp-banner" class="normaltopmargin normalbottommargin  light   movingbg  " data-id="customizer" data-title="Theme Customizer" data-direction='horizontal'>
<div class="caption">
<div class="holder"> <strong class="title">The Best Wallpaper Collection in One Place</strong>
<h1>Save Your <span>Free Wallpaper</span></h1>
<div class="banner-btn-box"> <a href="/popular" class="btn-uploading"><span class="fa fa-picture-o"></span>Popular Wallpaper</a> <a href="/fresh" class="btn-discover"><span class="fa fa-picture-o"></span>Fresh Wallpaper</a> </div>
</div>
</div>
</div>