
<div class="row">
	<div class="container">
		<br>
		<br>
		<h1 style="text-align: center"><%= @thispage.title %></h1>
		<br>
		<br>
		<%= raw @thispage.value %>
	</div>
</div>
 
<div class="cp-main-content">
<div class="aboutus-content tb-50">
 
<div class="container">
	<div class="row">

	</div>
</div>