<a href="/admin/keyword">Back to Keyword Admin Area</a>
<br>
<div class="container">
	<%= form_tag(:action => "create") do %>
		<%= text_area_tag(:title, "Keyword per baris", size: "100x20" , required: :true) %>
	<br>
	<%= submit_tag("Tambahkan Keyword") %>
	<% end %>
	<br>
</div>