<div class="row" style="text-align: center;">
	<%= raw @header_ads %>
</div>
<div class="cp-main-content tb-50" style="margin-top: 60px">
	<div class="cp-blog-posts">
		<div class="container">
			<div class="row">
				<% if(@blog.empty?) %>
					<h2 style="text-align:center"> --Empty --</h2>
				<% end %>
				<ul class="cp-blog-list cp-blog-grid">
					<% @blog.each do |entry| %>
					<li class="col-md-4">
						<div class="blog-post">
							<div class="cp-thumb">
							<ul class="pdate-picon">
							<li class="picon"><i class="fa fa-picture-o"></i></li>
							</ul>
							<a href="/blog/read/<%= "#{entry.id}-#{entry.title.parameterize}" %>"> <img class="img-thumbnail lazy" data-original="<%= entry.featured_image %>" alt="<%= entry.title %>" title="<%= entry.title %>"></a></div>
							<h3><a href="/blog/read/<%= "#{entry.id}-#{entry.title.parameterize}" %>"><%= entry.title %></a></h3>
							<ul class="post-meta">
							</ul>
						</div>
					</li>
					<% end %>
				</ul>
				<div class="cp-pagination">
					<ul class="pagination">
						<% for i in 1..@pagination do %>
							<% act = "" %>
							<% if i == @this_page %>
								<% act = "active" %>
							<% end %>
							<li class="<%= act %>"><a href="/blog/<%= i %>"><%= i %></a></li>
						<% end %>
					</ul>
				</div>
				<br>
				<div class="row" style="text-align: center;">
					<%= raw @footer_ads %>
				</div>
			</div>
		</div>
	</div>
</div>
 