<div class="cp-main-content tb-50">
<div class="cp-blog-posts">
<div class="container">
<div class="row">
	<div class="col-md-9">
	<ul class="cp-blog-list cp-post-details">
		<li class="blog-post">
			<h1><%= @blog_choose.title %></h1>
		</li>
		<li style="text-align: right"><%= social_share_button_tag(@blog_choose.title) %></li>
		<br>
		<br>
<%= raw @header_ads %>
		<br>
		<br>
		<% @imageArray.each do |img| %>
			<li style="text-align: center">
				<a target="_blank" href="<%= img.link %>"><img data-original="<%= img.image_link %>" width="100%" class="img-thumbnail lazy" title="<%= img.title %>" alt="<%= img.title %>"></a>
				<a rel="nofollow" target="_blank" href="<%= img.link %>"><p><%= img.title %></p></a>
			</li>
			<br>
		<% end %>
		<li style="text-align: right"><%= social_share_button_tag(@blog_choose.title) %></li>
	</ul>

	</div>

<div class="col-md-3">
<%= raw @footer_ads %>
<br>
<div class="sidebar"> 
 
<div class="widget tab-widget">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Recent Posts</a></li>
	</ul>
 
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="profile">
			<ul class="popular-posts">
				<% @recent_post.each do |recent| %>
					<li>
						<div class="cp-thumb">
						<a href="/blog/read/<%= "#{recent.id}-#{recent.title.parameterize}" %>">
							<img src="<%= recent.featured_image %>" alt="<%= recent.title %>" title="<%= recent.title %>">
						</a>
						</div>
						<p style="text-align: center"><%= recent.title %></p>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
 
</div>
 
</div>
 
</div>
</div>
</div>
</div>
 