<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= @web_title %> - <%= @general_title %></title>
	<meta name="description" content="<%= @general_description %>">
	<meta name="keywords" content="<%= @general_keyword %>">
	<meta name="og:image" content="<%= @general_meta_image %>">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index,follow">
	<meta name="distribution" content="global">
	<meta name="og:type" content="website">
    <%= stylesheet_link_tag("home") %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <%= raw @header_script %>
</head>
<body class="theme-style-1">
<div id="wrapper">

<header id="header">
<section class="logo-row">
	<div class="container"> <strong class="logo"><a href="/"><img src="<%= @general_image %>" alt="logo" title="logo"></a></strong> </div>
</section>

<section class="cp-navigation-row">
	<div class="container">
		<div class="navbar yamm navbar-default">
			<div class="navbar-header">
				<button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
			</div>
			<div id="navbar-collapse-1" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to("Popular", :controller => "popular") %></li>
				<li><%= link_to("Fresh", :controller => "fresh") %></li>
				<li><%= link_to("Blog", :controller => "blog") %></li>
				<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Categories <b class="caret"></b></a>
			<ul class="dropdown-menu">
			<li>
			<div class="yamm-content">
				<div class="row">
					<% if @allcategory.count % 4 == 0 %>
					<% 		indentify = @allcategory.count / 4 %>
					<% else %>
					<% 		indentify = @allcategory.count / 4 + 1 %>
					<% end %>

					<ul class="col-sm-3 list-unstyled">
						<% for i in 0..indentify-1 %>
						<li> <a href="/category/<%= @allcategory[i].title.parameterize %>"><%= @allcategory[i].title %></a> </li>
						<% end %>
					</ul>
					<ul class="col-sm-3 list-unstyled">
						<% for i in indentify..indentify*2-1 %>
						<li> <a href="/category/<%= @allcategory[i].title.parameterize %>"><%= @allcategory[i].title %></a> </li>
						<% end %>
					</ul>
					<ul class="col-sm-3 list-unstyled">
						<% for i in indentify*2..indentify*3-1 %>
						<li> <a href="/category/<%= @allcategory[i].title.parameterize %>"><%= @allcategory[i].title%></a> </li>
						<% end %>
					</ul>
					<ul class="col-sm-3 list-unstyled">
						<% for i in indentify*3..@allcategory.count-1 %>
						<li> <a href="/category/<%= @allcategory[i].title.parameterize %>"><%= @allcategory[i].title %></a> </li>
						<% end %>
					</ul>
				</div>
			</div>
			</li>
			</ul>
			</li>
			 
			<li>
			<%= form_tag("/pics", :method => "get", :class => "form-inline") do %>
					<input type="text" class="key form-control" placeholder="Search here..." required>
					<button class="form_submit btn btn-default"><span class="fa fa-search"></span></button>
				<% end %>
			</li>
			</ul>
			</div>
		</div>
	</div>
</section> 
</header>
	
    <%= yield %>
    
<footer id="footer">
	<div class="footer-social">
		<div class="">
			<ol class="breadcrumb">
				<li><a href="/page/contact-us">Contact Us</a></li>
				<li><a href="/page/dmca">DMCA</a></li>
				<li><a href="/page/privacy-policy">Privacy Policy</a></li>
			</ol>
		</div>
	</div>
	<div class="copyrights"><strong class="copy"><a href="/"><%= @general_title %></a></strong></div>
</footer>
</div>
<%= javascript_include_tag("home") %>
<%= raw @footer_script %>
  </body>
</html>
